<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Choose Your Drink</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item lines="none">
          <ion-label position="stacked">Drink</ion-label>
          <ion-select
            #select
            aria-label="Drink Selection"
            [(ngModel)]="selectedDrink"
            name="drink"
            interface="popover"
            placeholder="Select one"
            [interfaceOptions]="{
              side: 'bottom',
              alignment: 'start',
              reference: 'trigger',
              cssClass: 'popover-select-smooth'
            }"
          >
            <ion-select-option *ngFor="let drink of drinks" [value]="drink">
              {{ drink }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <div *ngIf="selectedDrink" class="selected-drink">
          <ion-icon name="cafe-outline"></ion-icon>
          <span>You selected: <strong>{{ selectedDrink }}</strong></span>
        </div>
      </form>
      <p style="padding:2rem;">Decided to stop here once I realised I could not create what I wanted with ion-select and ion-select-option. So I created a custom component for dropdown select in "Custom Dropdown"</p>
    </ion-card-content>
  </ion-card>
</ion-content>
