<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Choose Your Drink</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Drink</ion-label>
          <ion-select [(ngModel)]="selectedDrink" name="drink" interface="popover" placeholder="Select one">
            <ion-select-option *ngFor="let drink of drinks" [value]="drink">
              {{ drink }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="selectedDrink" class="selected-drink">
          <ion-icon name="cafe-outline"></ion-icon>
          <span>You selected: <strong>{{ selectedDrink }}</strong></span>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
