<ion-header>
  <ion-toolbar>
    <ion-title>Test Components</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/dropdown']">Align Select Dropdown</ion-button>
      <ion-button [routerLink]="['/dropdown-smooth']">Align Select Dropdown v2</ion-button>
      <ion-button [routerLink]="['/dropdown-custom']">Custom Dropdown</ion-button>
      <!-- Add more buttons/routes as you add more trials -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<router-outlet></router-outlet>
