<!-- sonarignore: Custom-styled listbox is accessible via aria -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Select a City</ion-card-title>
    <ion-card-content>
      <form>
        <div
          class="custom-select"
          [class.open]="isOpen"
          role="combobox"
          aria-haspopup="listbox"
          [attr.aria-controls]="'custom-options-list'"
          [attr.aria-expanded]="isOpen"
          [attr.aria-activedescendant]="isOpen ? 'option-' + focusedIndex : null"
        >
          <button
            class="selected-value"
            type="button"
            (click)="toggleDropdown()"
            (keydown)="handleKeyDown($event)"
            aria-label="Select an option"
            aria-haspopup="listbox"
            [attr.aria-expanded]="isOpen"
            [attr.aria-controls]="'custom-options-list'"
          >
            {{ selectedLabel }}
          </button>

          <div
            *ngIf="isOpen"
            id="custom-options-list"
            class="dropdown"
            role="listbox"
            [attr.aria-labelledby]="'custom-options-label'"
          >
            <div
              *ngFor="let city of cities; let i = index"
              role="option"
              [attr.id]="'city-' + i"
              [attr.aria-selected]="city.id === selectedId"
              class="dropdown-option"
              [class.selected]="city.id === selectedId"
              [class.focused]="i === focusedIndex"
              [class.hovered]="i === hoveredIndex"
              [attr.tabindex]="i === focusedIndex ? 0 : -1"
              (click)="selectOption(city.id)"
              (keydown)="handleOptionKeyDown($event, i)"
              (mouseenter)="hoveredIndex = i"
              (mouseleave)="hoveredIndex = null"
            >
              <span class="checkmark">{{ i === hoveredIndex ? '\u2713' : '' }}</span>
              <span>{{ city.name }}</span>
            </div>
          </div>
        </div>
      </form>
    </ion-card-content>
  </ion-card-header>
</ion-card>
