/* You can add global styles to this file, and also import other style files */
.popover-select-width {
  --width: 336px !important;
  --min-width: unset !important;
  --max-width: unset !important;

  .select-interface-option {
    position: relative;
    padding-left: 2rem; // makes room for the icon

    &:hover {
      background-color: #f4f5f8; // hover color for full row
    }

    &::before {
      content: '\1F5F8';
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2em;
      color: #000;
    }
  }
}
